{% extends 'inventory/base.html' %}
{% block title %}Purchases{% endblock %}
{% block content %}
<h1>Purchases</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Menu Item</th>
      <th>Quantity</th>
      <th>Purchase Time</th>
      <th>Logged By</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchases %}
    <tr>
      <td>{{ purchase.menu_item.name }}</td>
      <td>{{ purchase.quantity }}</td>
      <td>{{ purchase.purchase_time }}</td>
      <td>{{ purchase.logged_by.username }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'purchase-add' %}" class="btn btn-primary">Log New Purchase</a>
{% endblock %}